#intro {
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
  max-width: 75rem;
  display: flex;
  margin-top: 5rem;
}

.bg-image {
  object-fit: contain;
  height: 100%;
  width: 70vw;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease;
}

.intro-content {
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.intro-text {
  text-align: left; /* Align text to the left */
}

.hello {
  font-size: 3rem;
  font-weight: 600;
  margin-right: 10px;
}

.introName {
  color: greenyellow;
}

.introPara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 0.5px;
  margin-top: 5px;
}

.introBtn {
  background:greenyellow;
  margin: 1rem;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left:0;
}

.introBtn:hover {
  background:white;
}

.bg-image:hover {
  opacity: 0.8;
}

@media screen and (max-width: 840px) {
  .bg-image {
      right: calc(-10vw - 10%);
  }
  .intro-content {
      font-size: 10vw;
  }
  .hello {
      font-size: 5vw;
  }
  .introPara {
      font-size: 3vw;
  }
}
