#intro {
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
    max-width: 75rem;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: -10rem;
  }
  
  .bg-image {
    position: absolute;
    z-index: -3;
    object-fit: contain;
    height: 100%;
    width: 50%;
    right: 0;
    top: 0;
  }
  
  .intro-content {
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    position: relative;
    z-index: 1; /* Ensure content appears above the image */
  }
  
  .hello {
    font-size: 1.75rem;
    font-weight: 300;
  }
  
  .introName {
    color: greenyellow;
  }
  
  .introPara {
    font-size: medium;
    font-weight: 400;
    letter-spacing: 1px;
  }
  
  .introBtn {
    background: white;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .introBtn:hover {
    background: greenyellow;
  }
  