.navbar{
  height: 5rem;
  width: 100vh;
  margin: 0 auto;
  max-width: 75rem;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: sticky;
  top: 0;
  z-index: 3;
}
.logo{
  object-fit: cover;
  height: 3rem;
  width: 4rem;
  border-radius: 30%;
}
.desktopLink{
  margin: 1rem;
  cursor: pointer;
}
.desktopLink:hover{
  color: yellowgreen;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid yellowgreen;
}
.desktopBtn{
  background: white;
  color: black;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border-radius: 2rem;
}
.desktopBtnImg{
  object-fit: cover;
  height: 1rem;
  width: 2rem;
  margin: 1rem;
}